@media (max-width: 480px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 80%;
    }

    .section1 {
        align-items: center;
        width: 90%;
        border-right: none;
    }

    .section1 input {
        width: 90%;
    }

    .secaoBotao {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .secaoBotao button {
        margin: 0;
    }

    .section2 {
        width: 100%;
        height: 330px;
    }

    .section2 div {
        width: 100%;
        height: 330px;
    }

    .section2 p {
        width: 90%;
    }

    .areaTarefas {
        margin: 0;
        border: 0;
        max-height: 265px;
        width: 100%;
    }
}